$animationDuration: 450ms;
$specialDuration: 450ms;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$specialEasing: linear;
$width: 100%;
$height: auto;


.wallop-slider {
    position: relative; // Required
    overflow: hidden; // Required
    width: $width; // Required
    height: $height; // Required
    -webkit-transform: translateZ(0); // Force Hardware Acceleration
}

.wallop-slider__list { list-style: none; } // Recommended - used to remove bullets

.wallop-slider__item {
    display: none; // Required
    position: absolute; // Required
    top: 0; // Required
    left: 0; // Required
    width: 100%; // Recommended

    & img {
        display: block;
        width: 100%;
    }
}

.wallop-slider__item--current { display: block; position: static; z-index: 2;} // Required

.wallop-slider__item--show-previous { -webkit-animation: slideFromLeft $animationDuration $animationEasing forwards; }
.wallop-slider__item--show-next { -webkit-animation: slideFromRight $animationDuration $animationEasing forwards; }

.wallop-slider__item--hide-previous, .wallop-slider__item--hide-next { display: block; } // Required
.wallop-slider__item--hide-previous { -webkit-animation: slideToLeft $animationDuration $animationEasing forwards; }
.wallop-slider__item--hide-next { -webkit-animation: slideToRight $animationDuration $animationEasing both; }


// FADE TRANSITIONS
.wallop-slider--fade .wallop-slider__item--show-previous { -webkit-animation: fadeIn $animationDuration $animationEasing forwards; }
.wallop-slider--fade .wallop-slider__item--show-next { -webkit-animation: fadeIn $animationDuration $animationEasing forwards; }
.wallop-slider--fade .wallop-slider__item--hide-previous { -webkit-animation: fadeOut $animationDuration $animationEasing forwards; }
.wallop-slider--fade .wallop-slider__item--hide-next { -webkit-animation: fadeOut $animationDuration $animationEasing both; }


// SPECIAL TRANSITIONS
.wallop-slider--special .wallop-slider__item--show-previous { -webkit-animation: none }
.wallop-slider--special .wallop-slider__item--show-next { -webkit-animation: none }
.wallop-slider--special .wallop-slider__item--hide-previous { -webkit-animation: specialToLeft $specialDuration $animationEasing forwards; }
.wallop-slider--special .wallop-slider__item--hide-next { -webkit-animation: specialToRight $specialDuration $animationEasing both; }



/*==========  SLIDE ANIMATIONS  ==========*/

@-webkit-keyframes slideFromLeft {
    0% { -webkit-transform: translate3d(-100%, 0, 0); }
    100% { -webkit-transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes slideFromRight {
    0% { -webkit-transform: translate3d(100%, 0, 0); }
    100% { -webkit-transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes slideToLeft {
    0% { -webkit-transform: translate3d(0, 0, 0); }
    99% { opacity: 1; }
    100% {
        opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes slideToRight {
    0% { -webkit-transform: translate3d(0, 0, 0); }
    99% { opacity: 1; }
    100% {
        opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want
        -webkit-transform: translate3d(100%, 0, 0);
    }
}



/*==========  FADE ANIMATIONS  ==========*/
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}




/*==========  SPCECIAL ANIMATIONS  ==========*/
@-webkit-keyframes specialToLeft {
    0% { -webkit-transform: translate3d(0, 0, 0); }
    99% { opacity: 1; }
    100% {
        opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want
        -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg);
    }
}

@-webkit-keyframes specialToRight {
    0% { -webkit-transform: translate3d(0, 0, 0); }
    99% { opacity: 1; }
    100% {
        opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want
        -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg);
    }
}
