/*-----  Responsive  ------*/
/* line 1, _global.scss */
* {
  margin: 0;
  padding: 0; }

/* line 3, _global.scss */
body {
  font-family: 'Voltaire', Arial;
  text-align: center;
  background: #2B2A30;
  color: #ffffff;
  padding: 0 5%;
  font-size: 22px;
  -webkit-font-smoothing: antialiased; }

/* line 13, _global.scss */
h1 {
  font-weight: 400;
  padding: 60px 0 20px;
  font-size: 54px;
  line-height: 1; }

/* line 20, _global.scss */
a {
  color: #ffffff; }

/* line 24, _global.scss */
section {
  text-align: left;
  padding-bottom: 60px; }
  /* line 28, _global.scss */
  section ul {
    list-style: inside; }

/* line 33, _global.scss */
p {
  font-size: 18px;
  line-height: 28px; }

/* line 38, _global.scss */
h2 {
  margin-bottom: 20px; }

/* line 42, _global.scss */
h3 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px; }

/* line 48, _global.scss */
pre {
  margin-bottom: 10px; }

/* line 52, _global.scss */
.container {
  margin: 30px auto 60px;
  max-width: 960px; }

/* line 57, _global.scss */
.photo-slider {
  margin-bottom: 20px;
  display: inline-block;
  max-width: 612px; }

/* line 63, _global.scss */
.small-slider {
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
  margin: 10px; }

/* line 70, _global.scss */
.btn {
  font-family: 'Voltaire', Arial;
  background: #ffffff;
  color: #2B2A30;
  border: 2px solid #2B2A30;
  -webkit-appearance: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px;
  line-height: 10px;
  margin-top: 20px; }
  @media only screen and (min-width: 480px) {
    /* line 70, _global.scss */
    .btn {
      margin-top: -10px;
      position: absolute;
      top: 50%;
      opacity: 0;
      -webkit-transition: opacity 200ms ease;
      -moz-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease; }
      /* line 90, _global.scss */
      .wallop-slider:hover .btn {
        opacity: .75; }
        /* line 93, _global.scss */
        .wallop-slider:hover .btn:hover {
          opacity: 1; } }
  /* line 99, _global.scss */
  .btn:hover {
    cursor: pointer; }
  /* line 103, _global.scss */
  .btn[disabled] {
    opacity: .4; }
    /* line 105, _global.scss */
    .btn[disabled], .btn[disabled]:hover {
      cursor: default; }
    @media only screen and (min-width: 480px) {
      /* line 103, _global.scss */
      .btn[disabled] {
        visibility: hidden; } }

@media only screen and (min-width: 480px) {
  /* line 116, _global.scss */
  .btn--previous {
    left: 10px; } }

@media only screen and (min-width: 480px) {
  /* line 122, _global.scss */
  .btn--next {
    right: 10px; } }

/* line 128, _global.scss */
footer {
  padding-bottom: 30px; }

/* line 4, wallop-slider.scss */
.wallop-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translateZ(0); }

/* line 11, wallop-slider.scss */
.wallop-slider__list {
  list-style: none; }

/* line 13, wallop-slider.scss */
.wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  /* line 20, wallop-slider.scss */
  .wallop-slider__item img {
    display: block;
    width: 100%; }

/* line 26, wallop-slider.scss */
.wallop-slider__item--current {
  display: block;
  position: static; }

/**************************************************

  ANIMATION CONFIG

  What happens here is entirely up to you
  You can remove all the code below this comment
  and the slider will still work, but without
  any animation.

  For demo purposes, I'm only using -webkit prefix.

**************************************************/
/* line 42, wallop-slider.scss */
.wallop-slider__item--show-previous {
  -webkit-animation: slideFromLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 43, wallop-slider.scss */
.wallop-slider__item--show-next {
  -webkit-animation: slideFromRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 45, wallop-slider.scss */
.wallop-slider__item--hide-previous, .wallop-slider__item--hide-next {
  display: block; }

/* line 46, wallop-slider.scss */
.wallop-slider__item--hide-previous {
  -webkit-animation: slideToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 47, wallop-slider.scss */
.wallop-slider__item--hide-next {
  -webkit-animation: slideToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/*==========  SLIDE ANIMATIONS  ==========*/
@-webkit-keyframes slideFromLeft {
  /* line 53, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }

  /* line 54, wallop-slider.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideFromRight {
  /* line 58, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(100%, 0, 0); }

  /* line 59, wallop-slider.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideToLeft {
  /* line 63, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 64, wallop-slider.scss */
  99% {
    opacity: 1; }

  /* line 65, wallop-slider.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes slideToRight {
  /* line 72, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 73, wallop-slider.scss */
  99% {
    opacity: 1; }

  /* line 74, wallop-slider.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0); } }

/*==========  FADE CONFIG  ==========*/
/* line 7, _wallop-slider--fade.scss */
.wallop-slider--fade .wallop-slider__item--show-previous {
  -webkit-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
/* line 8, _wallop-slider--fade.scss */
.wallop-slider--fade .wallop-slider__item--show-next {
  -webkit-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
/* line 9, _wallop-slider--fade.scss */
.wallop-slider--fade .wallop-slider__item--hide-previous {
  -webkit-animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
/* line 10, _wallop-slider--fade.scss */
.wallop-slider--fade .wallop-slider__item--hide-next {
  -webkit-animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/*==========  FADE ANIMATIONS  ==========*/
@-webkit-keyframes fadeIn {
  /* line 17, _wallop-slider--fade.scss */
  0% {
    opacity: 0; }

  /* line 18, _wallop-slider--fade.scss */
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  /* line 22, _wallop-slider--fade.scss */
  0% {
    opacity: 1; }

  /* line 23, _wallop-slider--fade.scss */
  100% {
    opacity: 0; } }

/*==========  SPECIAL CONFIG  ==========*/
/* line 7, _wallop-slider--special.scss */
.wallop-slider--special .wallop-slider__item--show-previous {
  -webkit-animation: none; }
/* line 8, _wallop-slider--special.scss */
.wallop-slider--special .wallop-slider__item--show-next {
  -webkit-animation: none; }
/* line 9, _wallop-slider--special.scss */
.wallop-slider--special .wallop-slider__item--hide-previous {
  -webkit-animation: specialToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
/* line 10, _wallop-slider--special.scss */
.wallop-slider--special .wallop-slider__item--hide-next {
  -webkit-animation: specialToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/*==========  SPCECIAL ANIMATIONS  ==========*/
@-webkit-keyframes specialToLeft {
  /* line 17, _wallop-slider--special.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 18, _wallop-slider--special.scss */
  99% {
    opacity: 1; }

  /* line 19, _wallop-slider--special.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg); } }

@-webkit-keyframes specialToRight {
  /* line 26, _wallop-slider--special.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 27, _wallop-slider--special.scss */
  99% {
    opacity: 1; }

  /* line 28, _wallop-slider--special.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg); } }

/* desert scheme ported from vim to google prettify */
/* line 2, _prettyprint.scss */
pre.prettyprint {
  display: block;
  background-color: #333;
  border: none !important;
  padding: 20px 20px 5px !important;
  word-wrap: break-word;
  line-height: 22px;
  font-size: 13px; }
  @media only screen and (min-width: 480px) {
    /* line 2, _prettyprint.scss */
    pre.prettyprint {
      font-size: 15px; } }
  /* line 14, _prettyprint.scss */
  pre.prettyprint > span {
    margin-bottom: 5px; }

/* line 20, _prettyprint.scss */
pre .nocode {
  background-color: none;
  color: #000; }

/* line 21, _prettyprint.scss */
pre .str {
  color: #ffa0a0; }

/* string  - pink */
/* line 22, _prettyprint.scss */
pre .kwd {
  color: #f0e68c;
  font-weight: bold; }

/* line 23, _prettyprint.scss */
pre .com {
  color: #87ceeb; }

/* comment - skyblue */
/* line 24, _prettyprint.scss */
pre .typ {
  color: #98fb98; }

/* type    - lightgreen */
/* line 25, _prettyprint.scss */
pre .lit {
  color: #cd5c5c; }

/* literal - darkred */
/* line 26, _prettyprint.scss */
pre .pun {
  color: #fff; }

/* punctuation */
/* line 27, _prettyprint.scss */
pre .pln {
  color: #fff; }

/* plaintext */
/* line 28, _prettyprint.scss */
pre .tag {
  color: #f0e68c;
  font-weight: bold; }

/* html/xml tag    - lightyellow */
/* line 29, _prettyprint.scss */
pre .atn {
  color: #bdb76b;
  font-weight: bold; }

/* attribute name  - khaki */
/* line 30, _prettyprint.scss */
pre .atv {
  color: #ffa0a0; }

/* attribute value - pink */
/* line 31, _prettyprint.scss */
pre .dec {
  color: #98fb98; }

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
/* line 34, _prettyprint.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE; }

/* IE indents via margin-left */
/* line 35, _prettyprint.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }

/* Alternate shading for lines */
@media print {
  /* line 40, _prettyprint.scss */
  pre.prettyprint {
    background-color: none; }

  /* line 41, _prettyprint.scss */
  pre .str, code .str {
    color: #060; }

  /* line 42, _prettyprint.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold; }

  /* line 43, _prettyprint.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic; }

  /* line 44, _prettyprint.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold; }

  /* line 45, _prettyprint.scss */
  pre .lit, code .lit {
    color: #044; }

  /* line 46, _prettyprint.scss */
  pre .pun, code .pun {
    color: #440; }

  /* line 47, _prettyprint.scss */
  pre .pln, code .pln {
    color: #000; }

  /* line 48, _prettyprint.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold; }

  /* line 49, _prettyprint.scss */
  pre .atn, code .atn {
    color: #404; }

  /* line 50, _prettyprint.scss */
  pre .atv, code .atv {
    color: #060; } }
