/**
 * wallop--fade.css
 *
 * @fileoverview Fade animation for wallop
 *
 * @author Pedro Duarte
 * @author http://pedroduarte.me/wallop
 */

.Wallop--fade .Wallop-item {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-out;
}

.Wallop--fade .Wallop-item--current {
  opacity: 1;
}
