/**
 * wallop--fade.css
 *
 * @fileoverview Fade animation for wallop
 *
 * @author Pedro Duarte
 * @author http://pedroduarte.me/wallop
 */

.Wallop-item--current {
  opacity: 0;
  -webkit-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -moz-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -ms-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.Wallop--fade .Wallop-item--hidePrevious,
.Wallop--fade .Wallop-item--hideNext {
  visibility: visible;
}

.Wallop--fade .Wallop-item--hideNext {
  z-index: -1;
}

 /*==========  FADE ANIMATIONS  ==========*/
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
