/* line 4, wallop-slider.scss */
.wallop-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translateZ(0); }

/* line 11, wallop-slider.scss */
.wallop-slider__list {
  list-style: none; }

/* line 13, wallop-slider.scss */
.wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  /* line 20, wallop-slider.scss */
  .wallop-slider__item img {
    display: block;
    width: 100%; }

/* line 26, wallop-slider.scss */
.wallop-slider__item--current {
  display: block;
  position: static; }

/**************************************************

  ANIMATION CONFIG

  What happens here is entirely up to you
  You can remove all the code below this comment
  and the slider will still work, but without
  any animation.

  For demo purposes, I'm only using -webkit prefix.

**************************************************/
/* line 42, wallop-slider.scss */
.wallop-slider__item--show-previous {
  -webkit-animation: slideFromLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 43, wallop-slider.scss */
.wallop-slider__item--show-next {
  -webkit-animation: slideFromRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 45, wallop-slider.scss */
.wallop-slider__item--hide-previous, .wallop-slider__item--hide-next {
  display: block; }

/* line 46, wallop-slider.scss */
.wallop-slider__item--hide-previous {
  -webkit-animation: slideToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* line 47, wallop-slider.scss */
.wallop-slider__item--hide-next {
  -webkit-animation: slideToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/*==========  SLIDE ANIMATIONS  ==========*/
@-webkit-keyframes slideFromLeft {
  /* line 53, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }

  /* line 54, wallop-slider.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideFromRight {
  /* line 58, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(100%, 0, 0); }

  /* line 59, wallop-slider.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideToLeft {
  /* line 63, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 64, wallop-slider.scss */
  99% {
    opacity: 1; }

  /* line 65, wallop-slider.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes slideToRight {
  /* line 72, wallop-slider.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 73, wallop-slider.scss */
  99% {
    opacity: 1; }

  /* line 74, wallop-slider.scss */
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0); } }
