@media only screen and (min-width: 480px) {
  .wallop-slider--targeted .wallop-slider__item--hide-previous,
  .wallop-slider--targeted .wallop-slider__item--hide-next {
    display: block;
    -webkit-animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -moz-animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -ms-animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

/*==========  FADE ANIMATIONS  ==========*/
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
