$animationDuration: 450ms;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955);

/*==========  FADE CONFIG  ==========*/
.wallop-slider--slide {

  /* the 10ms animation-delay fixed some weird rendering issues with iPhone */

	.wallop-slider__item--show-previous { -webkit-animation: slideFromLeft $animationDuration 10ms $animationEasing both; }
	.wallop-slider__item--show-next { -webkit-animation: slideFromRight $animationDuration 10ms $animationEasing both; }

	.wallop-slider__item--hide-previous, .wallop-slider__item--hide-next { display: block; } // Required
	.wallop-slider__item--hide-previous { -webkit-animation: slideToLeft $animationDuration 10ms $animationEasing both; }
	.wallop-slider__item--hide-next { -webkit-animation: slideToRight $animationDuration 10ms $animationEasing both; }

}


/*==========  SLIDE ANIMATIONS  ==========*/
@-webkit-keyframes slideFromLeft {
  0% { -webkit-transform: translate3d(-100%, 0, 0); }
}

@-webkit-keyframes slideFromRight {
  0% { -webkit-transform: translate3d(100%, 0, 0); }
}

@-webkit-keyframes slideToLeft {
  99% { opacity: 1; }
  100% {
    opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want.
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes slideToRight {
  99% { opacity: 1; }
  100% {
    opacity: 0; // Make it hidden so if user resizes there's no overlap. Call it a hack it you want.
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
