$animationDuration: 450ms;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955);

/*==========  FADE CONFIG  ==========*/
.wallop-slider--fade {

  .wallop-slider__item--hide-previous,
  .wallop-slider__item--hide-next { display: block; }

	.wallop-slider__item--hide-previous { -webkit-animation: fadeOut $animationDuration $animationEasing both; }
	.wallop-slider__item--hide-next { -webkit-animation: fadeOut $animationDuration $animationEasing both; }

}


/*==========  FADE ANIMATIONS  ==========*/
@-webkit-keyframes fadeOut {
  100% { opacity: 0; }
}
