$animationDuration: 450ms;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955);

/*==========  VERTICAL SLIDE CONFIG  ==========*/
.wallop-slider--vertical-slide {

  /* the 10ms animation-delay fixed some weird rendering issues with iPhone */

  .wallop-slider__list {
    position: relative;
    overflow: hidden;
  }

  .wallop-slider__item--show-next { -webkit-animation: slideFromTop $animationDuration 10ms $animationEasing both; }
  .wallop-slider__item--show-previous { -webkit-animation: slideFromBottom $animationDuration 10ms $animationEasing both;}

  .wallop-slider__item--hide-previous,
  .wallop-slider__item--hide-next { display: block; }

  .wallop-slider__item--hide-previous { -webkit-animation: slideToBottom $animationDuration 10ms $animationEasing both; }
  .wallop-slider__item--hide-next { -webkit-animation: slideToTop $animationDuration 10ms $animationEasing both; }

}


/*==========  VERTICAL SLIDE ANIMATIONS  ==========*/
@-webkit-keyframes slideFromTop {
  0% { -webkit-transform: translate3d(0, -100%, 0); }
}

@-webkit-keyframes slideFromBottom {
  0% { -webkit-transform: translate3d(0, 100%, 0); }
}

@-webkit-keyframes slideToTop {
  99% { opacity: 1; }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}


@-webkit-keyframes slideToBottom {
  99% { opacity: 1; }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
