* {
  padding: 0;
  margin: 0;
}

.wallop-slider {
  width: 100%;
}

.wallop-slider__list {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wallop-slider__item img {
  display: block;
  width: 100%;
}

.wallop-slider__item--current {
  display: block;
  position: static;
}

footer {
  padding: 30px 0;
}
