@import '_utils';
@import '_global';
@import 'wallop-slider';

// @import 'wallop-slider--slide';
// @import 'wallop-slider--vertical-slide';
// @import 'wallop-slider--fade';
// @import 'wallop-slider--fold';
// @import 'wallop-slider--scale';
// @import 'wallop-slider--rotate';
// @import 'wallop-slider--targeted';
// @import 'wallop-slider--experimental';

