@import '_utils';

.WallopSlider {
    width: 100%; // Recommended
}

.WallopSlider-list {
  list-style: none; // Recommended - to remove bullets
  position: relative; // Required
  overflow: hidden; // Required
}

.WallopSlider-item {
  display: none; // Required
  position: absolute; // Required
  top: 0; // Required
  left: 0; // Required
  width: 100%; // Recommended

  & img {
    display: block; // Recommended
    width: 100%; // Recommended
  }
}

.WallopSlider-item--current {
  display: block; // Required
  position: static; // Required
}
