@import '_utils';

$animationDuration: 450ms;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955);

/*==========  FADE CONFIG  ==========*/
.wallop-slider--fade {

  .wallop-slider__item--hide-previous,
  .wallop-slider__item--hide-next {
    display: block;
    @include prefixr(animation, fadeOut $animationDuration $animationEasing both);
  }

}


/*==========  FADE ANIMATIONS  ==========*/
@include keyframes(fadeOut) {
  100% {
    opacity: 0;
  }
};
